<h1>Mermaid 2</h1>
 

<div class="add_data">
        <h3>Add data</h3>
        <p><a href="{% url Mermaid2_db.views.upload_data %}">Click here</a>
</div>

<div class="add_instrument">
        <h3>Add instrument</h3>
        <p><a href="{% url Mermaid2_db.views.add_instrument %}">Click here</a>
</div>

<div class="search_measurement">
        <h3>Search measurements</h3>
        <p><a href="{% url Mermaid2_db.views.search_measurement %}">Click here</a>
</div>

<div class="search_point">
        <h3>Search points</h3>
        <p><a href="{% url Mermaid2_db.views.search_point %}">Click here</a>
</div>

<div class="see_image">
        <h3>See image</h3>
        <p><a href="{% url Mermaid2_db.views.see_image %}">Click here</a>
</div>
